<main>
    <!--<a [routerlink]="['/']">
        <header class="brand-name">
            <nav>
                <img class="brand-logo" src="/assets/logo.svg" alt="logo" aria-hidden="true" />
                <ul>
                    <li src>friday</li>
                </ul>
            </nav>


        </header>
    </a>-->
    <nav>
        <ul>
            <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About </a></li>
            <li><a routerLink="/material" routerLinkActive="active" ariaCurrentWhenActive="page">Material </a></li>
            <li><a routerLink="/ag-grid" routerLinkActive="active" ariaCurrentWhenActive="page">Ag Grid</a></li>
        </ul>
    </nav>

   
    
    




    <section class="content">
        <router-outlet></router-outlet>
    </section>


</main>